<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Free CRM Test Suite">
    <listeners>
        <listener class-name="Analyzer.MyTranformer"></listener>
    </listeners>
    <test name="Free CRM test application">
        <classes>
            <class name="MyTest.DemoTest"></class>
        </classes>
    </test>
</suite>